# API Configuration
PORT=3510

# Asaas API Configuration
ASAAS_API_TOKEN=your_api_token_here
ASAAS_API_URL=https://api-sandbox.asaas.com/v3

# RabbitMQ Configuration
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=charges.queue

# JWT
JWT_SECRET=changeme-super-secret

# Supabase

SUPABASE_URL=https://tpkrqseeyplevbuhqasf.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwa3Jxc2VleXBsZXZidWhxYXNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI0NzE4MDYsImV4cCI6MjA0ODA0NzgwNn0.c2mqvCR-vW9pTUM8f3snRpeS_4gYTIgfea4lbzKtGGQ
